
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
h2{
    font-style: inherit;
    color: darkblue;
    text-align: center;
    background-color: chartreuse;
}

#animal-details {
    margin-top: 20px;
}

.card {
    margin: 10px;
    background-color: magenta;
}

